.main-btn{
  border-radius: 50rem!important;
  -webkit-border-radius: 50rem!important;
  -moz-border-radius: 50rem!important;
  -ms-border-radius: 50rem!important;
  -o-border-radius: 50rem!important;
  color: white!important;
  background-color: transparent!important;

  &.main-btn-primary-link{
    background-color: $primary-link!important;
  }
  &.main-btn-primary{
    background-color: $primary!important;
  }
  &.main-btn-pill-top{
    border-radius: 7px 7px 0 0!important;
    -webkit-border-radius: 7px 7px 0 0!important;
    -moz-border-radius: 7px 7px 0 0!important;
    -ms-border-radius: 7px 7px 0 0!important;
    -o-border-radius: 7px 7px 0 0!important;
}
}

