body{
  background-color: $primary;
}
.main-text-primary{
  color: $primary;
}
.main-text-primary-link{
  color: $primary-link;
}
.main-text-secondary{
  color: $secondary;
}
.main-text-secondary-card{
  color: $secondary-card;
}
.main-text-blue{
  color: $blue;
}
.main-text-purple{
  color: $purple;
}
.main-text-danger{
  color: $danger;
}
.main-text-warning{
  color: $warning;
}
.main-text-success{
  color: $success;
}
.main-text-white{
  color: $white;
}
.main-text-gray{
  color: $gray;
}
.main-bg-primary{
  background-color: $primary;
}
.main-bg-primary-link{
  background-color: $primary-link;
}
.main-bg-secondary{
  background-color: $secondary;
}
.main-bg-secondary-card{
  background-color: $secondary-card;
}
.main-bg-blue{
  background-color: $blue;
}
.main-bg-purple{
  background-color: $purple;
}
.main-bg-danger{
  background-color: $danger;
}
.main-bg-warning{
  background-color: $warning;
}
.main-bg-success{
  background-color: $success;
}
.main-bg-white{
  background-color: $white;
}
.main-bg-gray{
  background-color: $gray;
}