$primary: #0f1428;
$primary-link: #419187;
$secondary: #1e2837;
$secondary-card: #283241;
$blue: #4b7deb;
$purple: #828cf0;
$danger: #4b7deb;
$warning: #e6a037;
$success: #5abe69;
$white: #ffffff;
$gray: #828ca0;