<div class="header-content">
  <div class="container">
    <header class="pt-5">
      <div class="top-header mb-5 d-md-flex d-block align-items-start justify-content-between">
        <div class="user-info d-flex align-items-start text-white gap-2">
          <img src="assets/images/user.jpeg" class="rounded-circle" width="50px" height="50px" alt="User" />
          <div class="user-info-content">
            <h2>Welcome Back, Brian!</h2>
            <div class="user-info-notifications d-flex align-items-center">
              <mat-icon>notifications</mat-icon>
              <p class="mb-0">You have 2 new messages and 15 new tasks</p>
            </div>
          </div>
        </div>
        <div class="user-action d-flex justify-content-center justify-content-md-end gap-2 mt-4 mt-md-0">
          <button class="main-btn main-btn" mat-flat-button>
            <mat-icon>messenger</mat-icon>
            Messages
          </button>
          <button class="main-btn main-btn-primary-link" mat-flat-button>
            <mat-icon>settings</mat-icon>
            Settings
          </button>
        </div>
      </div>
      <div class="bottom-header">
        <button class="main-btn main-btn-primary main-btn-pill-top" mat-flat-button [matMenuTriggerFor]="menu">
          <span>ACME Corp Backend APP</span>
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Option 1</span>
          </button>
          <button mat-menu-item>
            <span>Option 2</span>
          </button>
          <button mat-menu-item>
            <span>Option 3</span>
          </button>
        </mat-menu>
      </div>
    </header>
  </div>
</div>
<nav class="header-nav mt-5">
  <div class="container">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/budget" routerLinkActive="active">Budget</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active">Team <span class="badge main-bg-primary-link rounded-circle">9</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/post" routerLinkActive="active">Post</a>
      </li>
    </ul>
  </div>
</nav>
