@import '@assets/scss/_variables.scss';
.post-card{
  background-color: $secondary;
  color: $gray;
  .post-card-title{
    color: $white;
  }
  .post-card-subtitle{
    color: $gray;
  }
}
