<div class="card summary-card p-3 rounded-4">
  <div class="card-header d-flex align-items-start justify-content-between">
    <h5 class="card-header-title">Github Issues Summary</h5>
    <div>

    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-6 col-12">
        <span class="chart-title">New vs. Closed</span>
        @defer (on viewport) {
          <canvas class="w-100 h-100" baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [type]="'line'">
          </canvas>
        } @placeholder {
          <p>Loading ...</p>
        }

      </div>
      <div class="col-xl-6 col-12">
        <span>Overview</span>
        <div class="row">
          @for (statisticsItem of headerStatistics; track $index) {
            <div class="col-xl-6 col-12 mb-3">
              <app-statistics-card [config]="statisticsItem"/>
            </div>
          }
        </div>
        <div class="row">
          @for (statisticsItem of footerStatistics; track $index) {
            <div class="col-xl-3 col-md-4 col-12 mb-xl-0 mb-4">
              <app-statistics-card [config]="statisticsItem"/>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
