@import '@assets/scss/_variables.scss';
.summary-card{
  background-color: $secondary;
  .card-header{
    .card-header-title{
      color: $white;
    }
  }
  .chart-title{
    color: $gray;
  }
}
