<div class="card summary-card p-3 rounded-4">
  <div class="card-header d-flex align-items-start justify-content-between">
    <h5>Github Issues Summary</h5>
    <div>

    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <span>Overview</span>
        <div class="row">
          @for (statisticsItem of headerStatistics; track $index) {
            <div class="col-md-6 mb-3">
              <app-statistics-card [config]="statisticsItem"/>
            </div>
          }
        </div>
        <div class="row">
          @for (statisticsItem of footerStatistics; track $index) {
            <div class="col-md-3">
              <app-statistics-card [config]="statisticsItem"/>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>